include *.rst
include LICENSE
include solver/__init__.py
include *.png
include requirements.txt

recursive-include examples *.py
recursive-include examples *.txt

recursive-include unbalancedgw *.py

### Exclude

exclude Makefile
exclude .coveragerc
exclude .circleci/*
exclude *.yml

exclude dictionary.txt
exclude .mailmap
recursive-exclude unbalancedgw *.pyc

recursive-exclude doc *

recursive-exclude conic *.ipynb
recursive-exclude examples *.ipynb
recursive-exclude experiments_pu *.ipynb
recursive-exclude experiments_pu *.py

exclude examples/example_fx_2.py
exclude examples/plot_matching_imbalanced_classes_3d.py
exclude requirements.txt

